@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --primary-color: #FBBF24;
    --brown-color: #B45309;
    --offwhite-color: #FFFBEB;
}

body {
    font-family: 'Source Sans Pro',
        sans-serif;
    margin: 0px;
}

.font {
    font-size: 1.2rem;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.link {
    text-decoration: none;
    color: black;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
}



/** hr **/

hr {
    margin: 2rem 0rem;
}

/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}



/** nav **/

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
    padding-top: 5rem;
}

.hero .hero-heading {
    color: var(--primary-color);
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--brown-color);
}

/** section **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.section-ow {
    background-color: var(--offwhite-color);
}

/** footer **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: black;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer-image {
    max-width: 30px;
}


/**blogs**/

.blog-header .blog-heading {
    text-align: center;

}

.blog-header .blog-image {
    max-width: 560px;
    display: block;
    padding-top: 1.5rem;
    margin:auto;
    padding-bottom: 1.5rem;

}
.block-diagram {
    max-width: 560px;
    display: block;
    padding-top: 1.5rem;
    margin:auto;
    padding-bottom: 1.5rem;

}